$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/langfang/images/iconfont/iconfont.woff") format("woff"), url("/langfang/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
font-family: yofont;
src: url("/langfang/images/iconfont1/iconfont.woff") format("woff"), url("/langfang/images/iconfont1/iconfont.ttf") format("truetype");
}

body {
	background-color: #fff !important;
}
